*.sublime-workspace
_archive_
_feedback_
_build_

# Directories generated during compile
Working
source
lib

#setup
SetupDCT2SQL.sb~
SetupDCT2SQL.csv
SetupDCT2SQL.htm


############
## Clarion
############
*.FileList.xml
*.MAP
#*.exe
**/Cla*.dll
*.ini
*.cache
obj/**
*/obj/**
*.obj
*.rsc
*.RSC
*.bpp
*.ap~
PWEE*.txt


############
## Windows
############
# Windows image file caches
Thumbs.db
