*.sublime-workspace

############
## Clarion
############
*.FileList.xml
*.MAP
*.exe
**/Cla*.dll
*.ini
*.cache
obj/**
*/obj/**
*.obj
*.rsc
*.RSC
*.bpp
*.ap~
PWEE*.txt

############
## Windows
############
# Windows image file caches
Thumbs.db
